.about__title {
  padding: 50px 0;
  font-size: 26px;
  line-height: 78px;
  text-align: center;
}

.about__wrap {
  margin: 0 168px;
}

.about__item {
  margin-bottom: 50px;
  display: flex;
}

.about__pic {
  width: 50%;
}

.about__text {
  width: 50%;
}

.about__text--contract {
  padding-right: 15px;
}

.about__text--journals {
  padding-left: 15px;
}

.about__paragraph {
  padding-bottom: 30px;
  font-size: 12px;
  line-height: 18px;
  font-family: "Lato", "Arial", sans-serif;
}

.about__link {
  color: #f4762a;
  background-color: #ffffff;
  outline: 2px solid #f4762a;

  &:hover {
    color: #ffffff;
    background-color: #f4762a;
  }

  &:active,
  &:focus {
    color: rgba(244, 118, 60, 1);
    background-color: #ffffff;
    outline: 2px solid rgba(244, 118, 60, 0.6);
  }
}
